.app {
  text-align: center;
}

.logo {
  height: 250px;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.counter-buttons-wrapper {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

.reset-button-wrapper {
  padding-top: 20px;
}

.counter-buttons {
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.counter {
  font-weight: bold;
  color: #00ccff;
}